* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background: url(images/backgroundbread.png) repeat, #E0CCBE;
    background-size: 70px 70px;
}

header {
    margin: 0;
    width: 100vw;
    position: relative;
}

header > * {
    font-family: 'Monda', sans-serif;
    font-size: 30px;
}

/* dropdown content */
.navbar {
    font-size: 25px;
    width: 100%;
    background-color: #747264;
    border-top: 3px double lightblue;
    display: flex;
    margin-top: 100px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 20px;
}

/* topnav content */
.topnav {
    top: 0;
    width: inherit;
    position: fixed;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #3C3633;
}

.cart img {
    margin-right: 40px;
}

.topnav img, .sidebar img {
    width:40px;
    height: 40px;
}

.logo a{
    text-decoration: none;
    color: white;
}

/* content */
.content > * {
    font-family: 'Germania One', system-ui;
    font-size: 20px;
    font-weight: 10;
    margin: 125px 30px;
}


/* About Us */
#aboutus {
    display: none;
    border-radius: 15px;
    box-shadow: 20px 20px;
    text-align: justify;
    background-color: #EEEDEB;
}

#aboutus h2 {
    font-size: 40px;
    padding: 15px;
    border-radius: 15px 15px 0 0;
    margin: 0;
    text-align: center;
    background-color: #3C3633;
    color: white;
    text-transform: uppercase;
}

#aboutus p {
    padding: 20px;
    margin: 20px;
}

/* Contact Us */
#contactus {
    display: none;
    border-radius: 15px;
    box-shadow: 20px 20px;
    text-align: justify;
    background-color: #EEEDEB;
}

#contactus h2 {
    font-size: 40px;
    padding: 15px;
    border-radius: 15px 15px 0 0;
    margin: 0;
    text-align: center;
    background-color: #3C3633;
    color: white;
    text-transform: uppercase;
}

#contactus h3, #contactus p {
    padding: 7px;
    margin-left: 45px;
}


/* footer content */
footer {
    width: 100%;
    margin: 0;
    font-family: 'Monda', sans-serif;
    font-size: 25px;
    background-color: #3C3633;
    display: none;
    justify-content: center;
    padding: 5px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: yellow;
}